PORT=""
NODE_ENV=""


# MONGODB
MONGODB_URI = ""

# JWT Secret
JWT_SECRET = ''

# Imagekit
IMAGEKIT_PUBLIC_KEY = ""
IMAGEKIT_PRIVATE_KEY = ""
IMAGEKIT_URL_ENDPOINT = "k"

# Gemini API
GEMINI_API_KEY = ""

# Frontend allowed links (local+deployed)
ALLOWED_ORIGINS=" , "